h2 {
        text-align: center;
        border-width: 1px;
        border-color: lightgray;
        border-style: dotted;
}

article {
        width: 30%;
        border-width: 1px;
        border-color: lightblue;
        border-style: solid;
        float: left;

}

img {
        height: 100px;
        display: block;
        margin: auto;
}

div {
        font-weight: bold;

}

element {
        width: 100%;
        display: block;
        color: yellow;
        background-color: darkgrey;
        white-space: nowrap;
}
